[Unit]
After=mnt-cherryimages-input.mount
After=network-online.target
Requires=mnt-cherryimages-input.mount
Requires=network-online.target
StartLimitAction=poweroff-force

[Service]
Type=oneshot
User=cherryimages
FailureAction=poweroff-force
ExecStart=/mnt/cherryimages/input/main
ExecStartPost=+/bin/bash -c 'echo -n success >/dev/ttyS1'
ExecStartPost=+/usr/bin/systemctl poweroff
